* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(-45deg, rgb(51, 99, 105), rgb(42, 81, 104));

}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 600px 600px 600px;
    justify-items: center;
    margin: 50px;
}
#problem-statement {
    grid-row: 1 / 2;
    grid-column: 1/2;
}
#affinity-diagram {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}
#personas {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}
#storyboard {

}
#sketches {

}
#low-fid-prototype {

}
img {
    flex-shrink: 1;
    flex-grow: 1;
    height: 334px;
    width: 292px;
    margin-top: 30px;
    border: 5px solid rgba(93, 104, 42, 0.9);
    margin-left: auto;
    margin-right: auto;
}
img:hover {
    border: 5px rgba(93, 104, 42, 0.9);
    border-style: dashed;

}
.assignment {
    text-align: center;
    display: flex;
    float: left;
    position: relative;
    padding: 15px;
    top: 20px;
    width: 500px;
    font-size: 50;
    margin: 25px 15px;
    background-color: rgba(233, 229, 229, 0.925);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 1;
    border-radius: 10px;
}
section .assignment-details {
    text-align: left;
    margin: 0px;
}

a {
    color:rgb(43, 157, 223);
}
a:hover {
    transition: color, 300ms, ease-out, 100ms;
    color:rgb(105, 8, 196);
}
h1 {
    display: block;
    margin: 20px 0px;
    color:rgb(100, 6, 6);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:center;
    font-weight: 700px;
}






