.app {
  height: 100vh;
}

.sections {
  width: 100%;
  height: calc(100vh - 70px);
  background-color: rgb(123, 189, 247);
  /* background-color: rgb(104, 25, 25); */
  position: relative;
  scroll-behavior: smooth;
  top: 70px;
  scroll-snap-type: y mandatory;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.sections * {
  width: 100vw;
  height: calc(100vh - 70px);
  scroll-snap-align: start;
}

::-webkit-scrollbar {
  display: none;
}
